<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>student_information_management</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStuInfoServlet</display-name>
    <servlet-name>ListStuInfoServlet</servlet-name>
    <servlet-class>web.ListStuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStuInfoServlet</servlet-name>
    <url-pattern>/liststuinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourseServlet</display-name>
    <servlet-name>SelectCourseServlet</servlet-name>
    <servlet-class>web.SelectCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourseServlet</servlet-name>
    <url-pattern>/selectcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListGradeServlet</display-name>
    <servlet-name>ListGradeServlet</servlet-name>
    <servlet-class>web.ListGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGradeServlet</servlet-name>
    <url-pattern>/listgrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeaInfoServlet</display-name>
    <servlet-name>ListTeaInfoServlet</servlet-name>
    <servlet-class>web.ListTeaInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeaInfoServlet</servlet-name>
    <url-pattern>/listteainfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStuServlet</display-name>
    <servlet-name>ListStuServlet</servlet-name>
    <servlet-class>web.ListStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStuServlet</servlet-name>
    <url-pattern>/liststu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGradeServlet</display-name>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <servlet-class>web.UpdateGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <url-pattern>/updategrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>web.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/addstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStuAll</display-name>
    <servlet-name>ListStuAll</servlet-name>
    <servlet-class>web.ListStuAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStuAll</servlet-name>
    <url-pattern>/liststuall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeaServlet</display-name>
    <servlet-name>AddTeaServlet</servlet-name>
    <servlet-class>web.AddTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeaServlet</servlet-name>
    <url-pattern>/addtea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeaAllServlet</display-name>
    <servlet-name>ListTeaAllServlet</servlet-name>
    <servlet-class>web.ListTeaAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeaAllServlet</servlet-name>
    <url-pattern>/listteaall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListGradeAllServlet</display-name>
    <servlet-name>ListGradeAllServlet</servlet-name>
    <servlet-class>web.ListGradeAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGradeAllServlet</servlet-name>
    <url-pattern>/listgradeall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser_TeaServlet</display-name>
    <servlet-name>AddUser_TeaServlet</servlet-name>
    <servlet-class>web.AddUser_TeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser_TeaServlet</servlet-name>
    <url-pattern>/addusertea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser_StuServlet</display-name>
    <servlet-name>AddUser_StuServlet</servlet-name>
    <servlet-class>web.AddUser_StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser_StuServlet</servlet-name>
    <url-pattern>/adduserstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentIndexServlet</display-name>
    <servlet-name>StudentIndexServlet</servlet-name>
    <servlet-class>web.StudentIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentIndexServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherIndexServlet</display-name>
    <servlet-name>TeacherIndexServlet</servlet-name>
    <servlet-class>web.TeacherIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherIndexServlet</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>web.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuinfo</display-name>
    <servlet-name>UpdateStuinfo</servlet-name>
    <servlet-class>web.UpdateStuinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuinfo</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuinfo2</display-name>
    <servlet-name>UpdateStuinfo2</servlet-name>
    <servlet-class>web.UpdateStuinfo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuinfo2</servlet-name>
    <url-pattern>/updatestuinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuSubjectServlet</display-name>
    <servlet-name>StuSubjectServlet</servlet-name>
    <servlet-class>web.StuSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuSubjectServlet</servlet-name>
    <url-pattern>/stusubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeaInfo</display-name>
    <servlet-name>UpdateTeaInfo</servlet-name>
    <servlet-class>web.UpdateTeaInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeaInfo</servlet-name>
    <url-pattern>/updatetea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeaInfo2</display-name>
    <servlet-name>UpdateTeaInfo2</servlet-name>
    <servlet-class>web.UpdateTeaInfo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeaInfo2</servlet-name>
    <url-pattern>/updatetea2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPartStuGrade</display-name>
    <servlet-name>ListPartStuGrade</servlet-name>
    <servlet-class>web.ListPartStuGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPartStuGrade</servlet-name>
    <url-pattern>/listpartstugrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGradeServlet2</display-name>
    <servlet-name>UpdateGradeServlet2</servlet-name>
    <servlet-class>web.UpdateGradeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGradeServlet2</servlet-name>
    <url-pattern>/updategrade2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStuServlet</display-name>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>web.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/delstu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeaServlet</display-name>
    <servlet-name>DeleteTeaServlet</servlet-name>
    <servlet-class>web.DeleteTeaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeaServlet</servlet-name>
    <url-pattern>/deltea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>